@import 'default.css';

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  background: white;
  letter-spacing: -0.05em;
}

section {
  text-align: center;
  padding-top: 50vh;
}

body#show-scene-0 #scene-0 .sticky-elem {
  display: block;
}

@keyframes loading-circle {
  0% {
    stroke-dashoffset: 156;
  }
  80% {
    stroke-dashoffset: -140;
  }
  100% {
    stroke-dashoffset: -156;
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 100;
}

.loading-container .loading {
  position: relative;
  top: 50%;
  left: 50%;
  width: 54px;
  height: 54px;
  transform: translate3d(-50%, -50%, 0);
  animation: rotate-circle 2s infinite;
}

.loading-container .loading circle {
  stroke-width: 4;
  fill: transparent;
  stroke: gray;
  stroke-dasharray: 156;
  animation: loading-circle 1s infinite;
}

.title {
  position: relative;
  font-weight: bold;
  font-size: 12vw;
  color: white;
  z-index: 5;
  top: -5vh;
}

.sticky-elem {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}

.main-message {
  top: 45vh;
  color: white;
  font-size: 8vw;
  opacity: 0;
  font-weight: bold;
}

.main-message.b {
  font-size: 10vw;
}

.main-message p {
  line-height: 1.2;
}

.main .pencel-logo {
  top: 50%;
  left: 50%;
  width: 3000vw;
  transform: translate3d(-10%, -50%, 0);
}

.pencel {
  left: auto;
  top: auto;
}

.pencel {
  width: 3.5vw;
  transform: rotate(-120deg);
  right: -10%;
  bottom: -80%;
}

.stroke-effect {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  min-width: 850px;
}

#stroke-effct-svg {
  fill: none;
  stroke: #ff0044;
  stroke-width: 62;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1401 1401;
  stroke-dashoffset: 1401;
}

.description {
  width: 70vw;
  font-size: 4vw;
  margin: 0 auto;
  opacity: 0;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .title {
    font-size: 9vw;
  }

  .main-message {
    top: 40vh;
    font-size: 4vw;
  }

  .main-message.b {
    font-size: 7vw;
  }
}
